folder/PostGress_Test_a.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger (8:00 AM MSK)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Get Todays Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Get Today's Articles": {
      "main": [
        []
      ]
    },
    "Check Articles Available": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop: No Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 1: Structure Architect": {
      "main": [
        []
      ]
    },
    "Parse & Validate Structure": {
      "main": [
        [
          {
            "node": "Check Structure Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Structure Valid": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 2: Research & Copywriter": {
      "main": [
        []
      ]
    },
    "Parse Article & Products": {
      "main": [
        [
          {
            "node": "Split Images for Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images for Generation": {
      "main": [
        [
          {
            "node": "Item Lists - Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists - Images": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Image (DALL-E 3)": {
      "main": [
        []
      ]
    },
    "HTTP: Download Generated Image": {
      "main": [
        [
          {
            "node": "AI Agent 3: Fact-Check Auditor1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert or update rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Metadata": {
      "main": [
        [
          {
            "node": "Merge All Generated Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Generated Images": {
      "main": [
        []
      ]
    },
    "AI Agent 3: Fact-Check Auditor": {
      "main": [
        []
      ]
    },
    "Parse Fact-Check Results": {
      "main": [
        [
          {
            "node": "Check Fact-Check Passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Fact-Check Passed": {
      "main": [
        [
          {
            "node": "AI Agent 4: WordPress Formatternt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 4: WordPress Formatter": {
      "main": [
        []
      ]
    },
    "Parse Formatted Content": {
      "main": [
        [
          {
            "node": "AI Agent 5: QA Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 5: QA Manager": {
      "main": [
        []
      ]
    },
    "Parse QA Results": {
      "main": [
        [
          {
            "node": "Split Images for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check QA Approved": {
      "main": [
        [],
        [
          {
            "node": "Supabase: Mark QA Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images for Upload": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress: Upload Image": {
      "main": [
        [
          {
            "node": "Save Uploaded Image ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Uploaded Image ID": {
      "main": [
        [
          {
            "node": "Merge Uploaded Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Uploaded Images": {
      "main": [
        [
          {
            "node": "Prepare Final Post with Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Post with Images": {
      "main": [
        []
      ]
    },
    "WordPress: Create Post": {
      "main": [
        []
      ]
    },
    "Prepare for Embedding": {
      "main": [
        [
          {
            "node": "Create Vector Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vector Embedding": {
      "main": [
        [
          {
            "node": "Supabase: Save Final Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Save Final Article": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Todays Articles": {
      "main": [
        [
          {
            "node": "Check Articles Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP: Download Generated Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "download YD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 3: Fact-Check Auditor1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 5: QA Manager1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 3: Fact-Check Auditor1": {
      "main": [
        [
          {
            "node": "Parse Fact-Check Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 4: WordPress Formatternt": {
      "main": [
        [
          {
            "node": "Parse Formatted Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 4: WordPress Formatternt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 5: QA Manager1": {
      "main": [
        [
          {
            "node": "Parse QA Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "UP Ydisk": {
      "main": [
        []
      ]
    },
    "download YD": {
      "main": [
        []
      ]
    },
    "Split Out1": {
      "main": [
        []
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "AI Agent 5: QA Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 3: Fact-Check Auditor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse & Validate Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse Article & Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-10T09:17:02.144Z",
  "id": "7jWnZ0YXvJYEbmkV",
  "isArchived": false,
  "meta": null,
  "name": "PostGress_Test_a",
  "nodes": [
    {
      "parameters": {},
      "id": "0bee3404-8185-4ced-b498-90254312a17d",
      "name": "📋 Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notes": "🇷🇺 AI CONTENT PIPELINE v2.0\n\n✅ 5 AI Agents\n✅ Supabase Vector DB\n✅ DALL-E 3 изображения (1-3 шт)\n✅ Парсинг товарных ссылок\n✅ WordPress Auto-Publish\n✅ 100+ Quality Checks\n\nВремя: ~10-15 минут на статью"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "3bb3bfa6-004d-436b-be6a-ea40cb3e7414",
      "name": "Schedule Trigger (8:00 AM MSK)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        208
      ]
    },
    {
      "parameters": {},
      "id": "4a4ddf42-2531-483e-9b89-7c0fe9dc2592",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        400
      ]
    },
    {
      "parameters": {},
      "id": "418d2ae1-607e-48e8-9f77-3e9c858aa38b",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {},
      "id": "7bd7d13d-07a0-4496-acb2-4a13de409552",
      "name": "💾 Supabase Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        64
      ],
      "notes": "Таблица: articles\n\nСоздайте в Supabase:\n\nCREATE TABLE articles (\n  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),\n  title TEXT,\n  topic TEXT,\n  content TEXT,\n  status TEXT DEFAULT 'pending',\n  keywords TEXT[],\n  target_market TEXT DEFAULT 'russia',\n  images JSONB,\n  product_links JSONB,\n  embedding VECTOR(1536),\n  wordpress_post_id INTEGER,\n  created_at TIMESTAMP DEFAULT NOW()\n);"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "MediaPlanSmartHome"
      },
      "id": "47f10941-5ee7-433a-9051-e0bb9eed635a",
      "name": "Supabase: Get Today's Articles",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        -64
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "reepLllOOipRHHWj",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "09cdfcfb-0391-4496-9ff9-c472ac83a63c",
      "name": "Check Articles Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        912,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "f4080f4d-ed64-494b-a746-2db2f0a99dd3",
      "name": "Stop: No Articles",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        864,
        496
      ]
    },
    {
      "parameters": {},
      "id": "2b3b509a-a120-48a3-a775-7a9107ea6be4",
      "name": "🏗️ Agent 1: Structure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        64
      ],
      "notes": "Structure Architect\n\n✅ Создает структуру\n✅ Планирует 1-3 изображения\n✅ SEO оптимизация\n✅ Российский контекст\n⏱️ ~30 секунд"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.polza.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4.5-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — эксперт по структурированию контента для российского рынка умных домов. Твоя задача — создавать идеальные структуры статей с учетом SEO, локального контекста и планирования изображений.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Ты — Structure Architect для российского рынка умных домов.\\n\\nЗАДАЧА:\\nСоздай детальную структуру статьи на тему: \\\"{{ $json.ArticleTitle }}\\\"\\n\\nТРЕБОВАНИЯ:\\n\\n1. РОССИЙСКИЙ РЫНОК:\\n   - Только бренды доступные в РФ (Xiaomi, Aqara, Яндекс, Sber)\\n   - Цены ТОЛЬКО в рублях (RUB)\\n   - Магазины: Яндекс.Маркет, Ozon, Wildberries\\n   - Альтернативы: Google Home → Яндекс Станция\\n\\n2. СТРУКТУРА:\\n   - H1: Цепляющий заголовок (50-60 символов)\\n   - Введение (150-200 слов)\\n   - 5-7 основных разделов (H2)\\n   - Подразделы (H3) где нужно\\n   - FAQ секция (5-7 вопросов)\\n   - Заключение с CTA\\n\\n3. ИЗОБРАЖЕНИЯ (1-3 штуки):\\n   - Спланируй 1-3 изображения для статьи\\n   - Для каждого изображения укажи:\\n     * position: \\\"header\\\" | \\\"section_N\\\" | \\\"conclusion\\\"\\n     * description_ru: Что должно быть на изображении\\n     * dalle_prompt: Детальный промпт для DALL-E 3 на английском (realistic, high quality, professional photography style)\\n     * alt_text: SEO-оптимизированный alt текст\\n     * usage: Где и как будет использоваться\\n\\n4. SEO:\\n   - Ключевые слова: {{ $json.keywords }}\\n   - Meta description (150-160 символов)\\n   - Внутренние ссылки (3-5)\\n   - Внешние ссылки (2-3)\\n\\n5. КОНТЕНТ:\\n   - Объем: 3000+ слов\\n   - Тон: экспертный, но дружелюбный\\n   - Примеры из российской практики\\n   - Актуальные цены 2024 года\\n\\nВЫВОД СТРОГО в JSON формате:\\n{\\n  \\\"title\\\": \\\"H1 заголовок\\\",\\n  \\\"meta_description\\\": \\\"SEO описание\\\",\\n  \\\"structure\\\": [\\n    {\\n      \\\"section\\\": \\\"H2 заголовок\\\",\\n      \\\"subsections\\\": [\\\"H3 подразделы\\\"],\\n      \\\"key_points\\\": [\\\"Основные тезисы\\\"],\\n      \\\"word_count\\\": 400\\n    }\\n  ],\\n  \\\"images_plan\\\": [\\n    {\\n      \\\"position\\\": \\\"header\\\",\\n      \\\"description_ru\\\": \\\"Современная умная квартира с устройствами Xiaomi\\\",\\n      \\\"dalle_prompt\\\": \\\"Modern smart home interior with Xiaomi devices, clean minimalist design, natural lighting, professional photography, realistic, high quality, 4k\\\",\\n      \\\"alt_text\\\": \\\"Умный дом с устройствами Xiaomi - современный интерьер\\\",\\n      \\\"usage\\\": \\\"Главное изображение статьи\\\"\\n    }\\n  ],\\n  \\\"faq\\\": [\\n    {\\\"question\\\": \\\"Вопрос\\\", \\\"answer_brief\\\": \\\"Краткий ответ\\\"}\\n  ],\\n  \\\"internal_links\\\": [\\\"Темы для ссылок\\\"],\\n  \\\"external_sources\\\": [\\\"Типы источников\\\"],\\n  \\\"russian_context\\\": {\\n    \\\"brands\\\": [\\\"Одобренные бренды\\\"],\\n    \\\"price_range\\\": \\\"Диапазон в RUB\\\",\\n    \\\"regulations\\\": [\\\"GOST/СНиП если применимо\\\"]\\n  }\\n}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "381dfa23-3f08-4e2a-bc6b-12db5b4bbdbd",
      "name": "AI Agent 1: Structure Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Comprehensive JSON parser for n8n with required output format\nconst item = $input.first();\n\nif (!item || !item.json || !item.json.output) {\n  throw new Error('Invalid input format. Expected object with \"output\" field.');\n}\n\nconst text = item.json.output;\n\ntry {\n  // Extract JSON using multiple methods\n  const jsonMatch = text.match(/```json\\n([\\s\\S]*?)\\n```/);\n  \n  if (jsonMatch) {\n    const jsonText = jsonMatch[1];\n    const parsedData = JSON.parse(jsonText);\n    \n    // Calculate total words\n    const totalWords = parsedData.structure ? \n      parsedData.structure.reduce((sum, section) => sum + (section.word_count || 0), 0) : 0;\n    \n    // Calculate images count\n    const imagesCount = parsedData.images_plan ? parsedData.images_plan.length : 0;\n    \n    // Return in the required format\n    return [{\n      json: {\n        article_id: $('Get Todays Articles').first().json.id,\n        topic: $('Get Todays Articles').first().json.ArticleTitle,\n        structure: parsedData,\n        images_plan: parsedData.images_plan || [],\n        validation: {\n          passed: true,\n          total_words_planned: totalWords,\n          sections_count: parsedData.structure ? parsedData.structure.length : 0,\n          images_count: imagesCount,\n          has_faq: parsedData.faq && parsedData.faq.length > 0,\n          russian_validated: true\n        },\n        timestamp: new Date().toISOString()\n      }\n    }];\n  } else {\n    // Return error in the same format structure\n    return [{\n      json: {\n        article_id: $('Get Todays Articles').first().json.id,\n        topic: $('Get Todays Articles').first().json.ArticleTitle,\n        structure: null,\n        images_plan: [],\n        validation: {\n          passed: false,\n          total_words_planned: 0,\n          sections_count: 0,\n          images_count: 0,\n          has_faq: false,\n          russian_validated: false,\n          error: \"No JSON code block found\"\n        },\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  \n} catch (error) {\n  // Return error in the same format structure\n  return [{\n    json: {\n      article_id: $('Get Todays Articles').first().json.id,\n      topic: $('Get Todays Articles').first().json.ArticleTitle,\n      structure: null,\n      images_plan: [],\n      validation: {\n        passed: false,\n        total_words_planned: 0,\n        sections_count: 0,\n        images_count: 0,\n        has_faq: false,\n        russian_validated: false,\n        error: error.message\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// // Парсинг структуры и подготовка для копирайтера\n// const item = $input.first();\n\n//  try {\n//     const response = item.json.choices[0].output.content;\n// const structure = JSON.parse(response);\n  \n// // Валидация обязательных полей\n//    if (!structure.title || !structure.structure || !structure.russian_context) {\n//      throw new Error('Структура не содержит обязательных полей');\n//    }\n \n//    // Проверка российского контекста\n//    const forbiddenBrands = ['google home', 'amazon alexa', 'apple homekit'];\n//    const brandsLower = structure.russian_context.brands.map(b => b.toLowerCase());\n  \n//    const hasForbidden = forbiddenBrands.some(fb => \n//      brandsLower.some(b => b.includes(fb))\n//    );\n  \n//    if (hasForbidden) {\n//     throw new Error('❌ Структура содержит недоступные в РФ бренды');\n//  }\n  \n//  // Валидация images_plan\n//    const imagesCount = (structure.images_plan || []).length;\n//   if (imagesCount < 1 || imagesCount > 3) {\n//      throw new Error('Должно быть от 1 до 3 изображений');\n//    }\n  \n//    // Подсчет общего объема слов\n//    const totalWords = structure.structure.reduce((sum, section) => \n//      sum + (section.word_count || 0), 0\n//    );\n  \n//    return [{\n//      json: {\n//       article_id: $('Get Todays Articles').first().json.id,\n//        topic: $('Get Todays Articles').first().json.ArticleTitle,\n//        structure: structure,\n//        images_plan: structure.images_plan || [],\n//        validation: {\n//          passed: true,\n//          total_words_planned: totalWords,\n//          sections_count: structure.structure.length,\n//          images_count: imagesCount,\n//          has_faq: structure.faq && structure.faq.length > 0,\n//          russian_validated: true\n//        },\n//        timestamp: new Date().toISOString()\n//      }\n//    }];\n  \n//  }\n//    catch (error) {\n//   return [{\n//     json: {\n//       error: true,\n//       message: error.message,\n//       stage: 'Structure Architect',\n//       timestamp: new Date().toISOString()\n//     }\n//  }];\n//  }\n\n   \n   //************\n\n\n// //Comprehensive JSON parser for n8n\n// const item = $input.first();\n\n// if (!item || !item.json || !item.json.output) {\n//   throw new Error('Invalid input format. Expected object with \"output\" field.');\n// }\n\n// const text = item.json.output;\n// const result = {};\n// const response = item.json.output;  //choices[0].output.content;\n// //const structure = JSON.parse(response);\n// try {\n//   // Extract JSON using multiple methods\n//   const jsonMatch = text.match(/```json\\n([\\s\\S]*?)\\n```/);\n  \n//   if (jsonMatch) {\n//     const jsonText = jsonMatch[1];\n//     const parsedData = JSON.parse(jsonText);\n\n//       const totalWords = structure.structure.reduce((sum, section) => \n//     sum + (section.word_count || 0), 0    );\n    \n//     // Return structured data\n//     return {\n//       success: true,\n//       data: parsedData,\n//       sections_count: parsedData.structure ? parsedData.structure.length : 0,\n//       article_id: $('Get Todays Articles').first().json.id,\n//        topic: $('Get Todays Articles').first().json.ArticleTitle,\n//        structure: structure,\n//        images_plan: structure.images_plan || [],\n//        validation: {\n//          passed: true,\n//          total_words_planned: totalWords,\n//          sections_count: structure.structure.length,\n//         images_count: 0,//imagesCount,\n//          has_faq: structure.faq && structure.faq.length > 0,\n//          russian_validated: true\n//        },\n//        timestamp: new Date().toISOString()\n//       // images_count: parsedData.images_plan ? parsedData.images_plan.length : 0,\n//       // faq_count: parsedData.faq ? parsedData.faq.length : 0,\n//       // extracted_at: new Date().toISOString()\n//     };\n//   } else {\n//     return {\n//       success: false,\n//       error: \"No JSON code block found\",\n//       text_sample: text.substring(0, 200)\n//     };\n//   }\n  \n// } catch (error) {\n//   return {\n//     success: false,\n//     error: error.message,\n//     error_details: `Failed to parse JSON: ${error}`\n//   };\n// }\n  \n  "
      },
      "id": "ee92139f-684e-42fe-9be5-d956202c043c",
      "name": "Parse & Validate Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "213bb3f7-b327-4a8e-8c45-e76da2ce1c7c",
      "name": "Check Structure Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1728,
        272
      ]
    },
    {
      "parameters": {},
      "id": "386b1976-3cab-4d41-be88-dcaac3cfba90",
      "name": "✍️ Agent 2: Copywriter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        64
      ],
      "notes": "Research & Copywriter\n\n✅ 3000+ слов\n✅ Товарные ссылки\n✅ Маркеры для изображений\n✅ Актуальные цены\n⏱️ ~3-5 минут"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — профессиональный копирайтер для российского рынка умных домов с 10+ летним опытом. Ты пишешь экспертные статьи с товарными ссылками и маркерами для изображений.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Напиши полную статью по этой структуре:\\n{{ JSON.stringify($json.structure, null, 2) }}\\n\\nПЛАН ИЗОБРАЖЕНИЙ:\\n{{ JSON.stringify($json.images_plan, null, 2) }}\\n\\nТРЕБОВАНИЯ:\\n\\n1. МАРКЕРЫ ИЗОБРАЖЕНИЙ (ОБЯЗАТЕЛЬНО!):\\n   - Вставь маркеры в текст: [IMAGE_1], [IMAGE_2], [IMAGE_3]\\n   - Размести их согласно images_plan (position)\\n   - Пример: \\\"...умные устройства в интерьере.\\\\n\\\\n[IMAGE_1]\\\\n\\\\nКак видно на изображении...\\\"\\n\\n2. ТОВАРНЫЕ ССЫЛКИ (ВАЖНО!):\\n   - При упоминании товаров добавляй ссылки:\\n   - Формат: [Xiaomi Smart Bulb Essential](https://market.yandex.ru/product/...)\\n   - Указывай примерные цены: \\\"от 1 500 ₽\\\"\\n   - Минимум 3-5 товарных ссылок\\n   - После статьи добавь блок:\\n\\n```json\\n{\\n  \\\"products\\\": [\\n    {\\n      \\\"name\\\": \\\"Название товара\\\",\\n      \\\"brand\\\": \\\"Xiaomi\\\",\\n      \\\"price\\\": \\\"1500\\\",\\n      \\\"currency\\\": \\\"RUB\\\",\\n      \\\"url\\\": \\\"https://market.yandex.ru/product/...\\\",\\n      \\\"marketplace\\\": \\\"yandex_market\\\",\\n      \\\"image_url\\\": \\\"https://...\\\",\\n      \\\"description\\\": \\\"Краткое описание\\\"\\n    }\\n  ]\\n}\\n```\\n\\n3. СТИЛЬ НАПИСАНИЯ:\\n   - Родной русский язык (не перевод!)\\n   - Экспертный, но понятный тон\\n   - Личный опыт и примеры\\n   - Избегай клише типа \\\"в современном мире\\\"\\n   - Используй активный залог\\n\\n4. РОССИЙСКИЙ КОНТЕКСТ:\\n   - Цены ТОЛЬКО в рублях (₽)\\n   - Примеры: \\\"квартира в Москве\\\", \\\"дом в Подмосковье\\\"\\n   - Магазины: Яндекс.Маркет, Ozon, Wildberries\\n   - Бренды: Xiaomi, Aqara, Яндекс, Sber, Rubetek\\n   - НЕ упоминай: Google Home, Amazon Alexa\\n\\n5. SEO ОПТИМИЗАЦИЯ:\\n   - Естественное использование ключевых слов\\n   - Внутренние ссылки (используй [текст](/url))\\n   - Внешние ссылки на авторитетные источники\\n\\n6. СТРУКТУРА:\\n   - Следуй точно структуре выше\\n   - Каждый раздел — законченная мысль\\n   - Используй списки и таблицы\\n   - Добавь врезки с советами\\n\\nФОРМАТ ВЫВОДА:\\nMarkdown с заголовками, списками, таблицами, ссылками, маркерами изображений [IMAGE_N] и JSON блоком с товарами в конце.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000\n}",
        "options": {}
      },
      "id": "5715bf85-cf8a-465d-a3ac-145caf414fda",
      "name": "AI Agent 2: Research & Copywriter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Получаем входные данные\n  // В случае, если $input имеет метод all(), используем его, если нет - используем item()\n  const inputData = $input.all ? $input.all() : [$input.item];\n  \n  // Проверяем наличие данных и структуру\n  if (!inputData || inputData.length === 0) {\n    throw new Error('Нет входных данных');\n  }\n  \n  // Получаем текст статьи из первого элемента\n  const inputText = inputData[0].json ? inputData[0].json.output : inputData[0].output;\n  \n  if (!inputText) {\n    throw new Error('Не найден текст статьи в поле \"output\"');\n  }\n  \n  // Извлекаем JSON блок с товарами\n  let products = [];\n  const jsonMatch = inputText.match(/```json\\n([\\s\\S]*?)\\n```/);\n  \n  if (jsonMatch && jsonMatch[1]) {\n    try {\n      const productsData = JSON.parse(jsonMatch[1]);\n      products = productsData.products || [];\n    } catch (e) {\n      console.error('Ошибка парсинга JSON:', e.message);\n      products = [];\n    }\n  }\n  \n  // Удаляем JSON блок из статьи\n  const cleanArticle = inputText.replace(/```json\\n[\\s\\S]*?\\n```/, '').trim();\n  \n  // Проверяем наличие маркеров изображений\n  const imageMarkerRegex = /\\[IMAGE_\\d+\\]/g;\n  const imageMarkers = cleanArticle.match(imageMarkerRegex) || [];\n\n  // Получаем данные из предыдущего шага \"Parse & Validate Structure\"\n  // Безопасное получение с проверками\n  let parseData = {};\n  try {\n    const parseStep = $('Parse & Validate Structure');\n    if (parseStep && parseStep.first) {\n      const firstItem = parseStep.first();\n      if (firstItem && firstItem.json) {\n        parseData = firstItem.json;\n      }\n    }\n  } catch (e) {\n    console.warn('Не удалось получить данные из Parse & Validate Structure:', e.message);\n  }\n\n  // Подготавливаем результат\n  const result = {\n    json: {\n      article_id: parseData.article_id || 'unknown',\n      article_content: cleanArticle,\n      products: products,\n      image_markers: imageMarkers,\n      images_plan: parseData.images_plan || [],\n      structureData: parseData.structure || {},\n      word_count: cleanArticle.split(/\\s+/).length,\n      timestamp: new Date().toISOString()\n    }\n  };\n\n  return [result];\n  \n} catch (error) {\n  console.error('Критическая ошибка в скрипте:', error);\n  return [{\n    json: {\n      error: true,\n      message: error.message,\n      stack: error.stack,\n      stage: 'Copywriter',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n\n"
      },
      "id": "ff0caaae-6776-477e-951a-fdfaaba1df2f",
      "name": "Parse Article & Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        288
      ]
    },
    {
      "parameters": {},
      "id": "7f130344-14a6-471d-b439-208cf00604e1",
      "name": "🎨 Generate Images",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2576,
        32
      ],
      "notes": "DALL-E 3 Generation\n\n✅ 1-3 изображения\n✅ HD качество\n✅ Realistic style\n✅ Скачивание файлов\n⏱️ ~2-3 минуты"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb979094-d335-49bb-87c5-5eb26083d940",
              "name": "image_markers",
              "value": "={{ $('Check Structure Valid').item.json.images_plan }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "2aadca66-68c7-4070-a465-005f16cc1c22",
      "name": "Split Images for Generation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        288
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_markers",
        "options": {}
      },
      "id": "3f127fb7-f031-408f-acd0-a81cd31e239d",
      "name": "Item Lists - Images",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2816,
        288
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.dalle_prompt }}",
        "options": {
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "edb1b540-89b0-40e0-82b0-e752050ae758",
      "name": "OpenAI: Generate Image (DALL-E 3)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        3072,
        -176
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{JSON.parse($json.data.resultJson).resultUrls[0]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a38a0924-c157-4cab-8643-d9a10cd0460a",
      "name": "HTTP: Download Generated Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка метаданных изображения\nconst item = $input.first();\nconst imageData = $('Item Lists - Images').first().json;\n\n// Генерируем имя файла\nconst timestamp = Date.now();\nconst fileName = `smart-home-${timestamp}.png`;\n\n// Получаем бинарные данные\nconst binaryData = item.binary.data;\n\nreturn [{\n  json: {\n    position: imageData.position,\n    description_ru: imageData.description_ru,\n    alt_text: imageData.alt_text,\n    usage: imageData.usage,\n    file_name: fileName,\n    generated_at: new Date().toISOString()\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "id": "d4464e37-6302-45e0-aed7-31b579e8d84f",
      "name": "Prepare Image Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        768
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "d4da0e80-2622-4427-8f6b-f52b97562ed7",
      "name": "Merge All Generated Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3536,
        752
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "c03a734d-6109-4961-87be-05488d14f5cc",
      "name": "🔍 Agent 3: Fact-Check",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4736,
        -128
      ],
      "notes": "Fact-Check Auditor\n\n✅ Проверка валют\n✅ Проверка брендов\n✅ Верификация цен\n✅ PASS/FAIL\n⏱️ ~2-3 минуты"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — строгий аудитор контента. Твоя задача — находить любые несоответствия российскому рынку и блокировать публикацию при критических ошибках.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Проверь эту статью на соответствие требованиям:\\n\\nСТАТЬЯ:\\n{{ $json.article_content }}\\n\\nТОВАРЫ:\\n{{ JSON.stringify($json.products, null, 2) }}\\n\\nКРИТИЧЕСКИЕ ПРОВЕРКИ:\\n\\n1. ВАЛЮТА:\\n   ❌ БЛОКИРОВАТЬ если найдены: $, USD, €, EUR, £, GBP\\n   ✅ РАЗРЕШЕНО: ₽, руб., рублей, RUB\\n\\n2. БРЕНДЫ:\\n   ❌ БЛОКИРОВАТЬ: Google Home, Amazon Alexa, Nest, Ring\\n   ✅ РАЗРЕШЕНО: Xiaomi, Aqara, Яндекс, Sber, Rubetek\\n\\n3. МАГАЗИНЫ:\\n   ❌ БЛОКИРОВАТЬ: Amazon.com, eBay (как основной)\\n   ✅ РАЗРЕШЕНО: Яндекс.Маркет, Ozon, Wildberries\\n\\n4. ТОВАРЫ:\\n   - Проверь что все товары доступны в РФ\\n   - Проверь что цены в рублях\\n   - Проверь что ссылки на российские магазины\\n\\n5. ИЗОБРАЖЕНИЯ:\\n   - Проверь наличие маркеров [IMAGE_N]\\n   - Количество: {{ $json.images_count }}\\n\\nВЫВОД в JSON:\\n{\\n  \\\"status\\\": \\\"PASS\\\" или \\\"FAIL\\\",\\n  \\\"critical_issues\\\": [\\n    {\\n      \\\"type\\\": \\\"currency|brand|availability\\\",\\n      \\\"severity\\\": \\\"critical|high\\\",\\n      \\\"description\\\": \\\"Описание проблемы\\\",\\n      \\\"location\\\": \\\"Где найдено\\\",\\n      \\\"fix_required\\\": \\\"Как исправить\\\"\\n    }\\n  ],\\n  \\\"warnings\\\": [],\\n  \\\"verified_facts\\\": {\\n    \\\"currency_validated\\\": true/false,\\n    \\\"brands_validated\\\": true/false,\\n    \\\"products_validated\\\": true/false,\\n    \\\"images_validated\\\": true/false\\n  },\\n  \\\"recommendation\\\": \\\"APPROVE\\\" или \\\"BLOCK\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "02334170-36e4-4b4d-bd8a-32e57e947342",
      "name": "AI Agent 3: Fact-Check Auditor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4464,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Читаем исходную строку из поля 'output' первого элемента\nlet originalString = $input.first().json.output;\n\n// Парсим эту строку в настоящий JSON-объект\nlet parsedData = JSON.parse(originalString);\n\n// Возвращаем новый элемент, содержащий все поля из распаршенного объекта\nreturn [{ json: { ...parsedData } }];\n/*\n// // Парсинг результатов fact-check\n const item = $input.first();\nconsole.log(item);\n try {\n//   // Получаем контент из входных данных\n   const response = item.output; \nconsole.log(response);\n// изменено с  //item.json.choices[0].message.content\n   const factCheck = JSON.parse(response);\n  \n//   // Безопасное получение данных из предыдущего шага\n   const previousStep = $('Collect All Images');\n   let previousData = {};\n   let binaryData = null;\n\n   if (previousStep && previousStep.first()) {\n     previousData = previousStep.first().json || {};\n     binaryData = previousStep.first().binary;\n  }\n  \n  return [{\n    json: {\n      article_id:$('Parse Article & Products').first().json.article_id ,\n      article_content: $('Parse Article & Products').first().json.article_content,\n      products: $('Parse Article & Products').first().json.products,\n      structure: $('Parse Article & Products').first().json.structureData,\n      generated_images: $('Collect All Images').first().json.generated_images,\n      fact_check: factCheck,\n      passed: factCheck.status === 'PASS',\n      critical_issues_count: (factCheck.critical_issues || []).length,\n      warnings_count: (factCheck.warnings || []).length,\n      timestamp: new Date().toISOString()\n    },\n    binary: binaryData\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: error.message,\n      stage: 'Fact-Check Auditor',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// // Парсинг результатов fact-check\n// const item = $input.first();\n\n// try {\n//   const response = item.json.choices[0].message.content;\n//   const factCheck = JSON.parse(response);\n  \n//   const previousData = $('Collect All Images').first().json;\n//   const binaryData = $('Collect All Images').first().binary;\n  \n//   return [{\n//     json: {\n//       article_id: previousData.article_id,\n//       article_content: previousData.article_content,\n//       products: previousData.products,\n//       structure: previousData.structure,\n//       generated_images: previousData.generated_images,\n//       fact_check: factCheck,\n//       passed: factCheck.status === 'PASS',\n//       critical_issues_count: factCheck.critical_issues?.length || 0,\n//       warnings_count: factCheck.warnings?.length || 0,\n//       timestamp: new Date().toISOString()\n//     },\n//     binary: binaryData\n//   }];\n  \n// } catch (error) {\n//   return [{\n//     json: {\n//       error: true,\n//       message: error.message,\n//       stage: 'Fact-Check Auditor',\n//       timestamp: new Date().toISOString()\n//     }\n//   }];\n// }\n*/"
      },
      "id": "b3b308c9-c582-4eba-ba5f-cd8cbdeb5405",
      "name": "Parse Fact-Check Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "passed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "767a9362-09e3-41fe-ad42-b45dca6e87ec",
      "name": "Check Fact-Check Passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4832,
        288
      ]
    },
    {
      "parameters": {},
      "id": "d011b597-afeb-42e1-bd52-1d3ead664ec3",
      "name": "📝 Agent 4: Formatter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5056,
        64
      ],
      "notes": "WordPress Formatter\n\n✅ Markdown → HTML\n✅ SEO метаданные\n✅ Schema.org\n✅ Вставка изображений\n⏱️ ~30 секунд"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — эксперт по WordPress и SEO. Ты создаешь идеально оптимизированный контент для публикации с правильной вставкой изображений.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Преобразуй эту статью в формат для WordPress:\\n\\nСТАТЬЯ:\\n{{ $json.article_content }}\\n\\nИЗОБРАЖЕНИЯ:\\n{{ JSON.stringify($json.generated_images, null, 2) }}\\n\\nТРЕБОВАНИЯ:\\n\\n1. HTML КОНВЕРТАЦИЯ:\\n   - Markdown → чистый HTML\\n   - Используй семантические теги\\n   - Добавь классы для стилизации\\n\\n2. ВСТАВКА ИЗОБРАЖЕНИЙ:\\n   - Замени маркеры [IMAGE_N] на HTML:\\n   - <figure class=\\\"wp-block-image\\\">\\n       <img src=\\\"PLACEHOLDER_IMAGE_N\\\" alt=\\\"alt_text\\\" />\\n       <figcaption>description</figcaption>\\n     </figure>\\n   - Используй данные из generated_images\\n\\n3. SEO МЕТАДАННЫЕ:\\n   - Title (50-60 символов)\\n   - Meta Description (150-160 символов)\\n   - Focus Keyword\\n   - Open Graph теги\\n\\n4. SCHEMA.ORG:\\n   - Article schema\\n   - BreadcrumbList\\n   - FAQPage\\n\\n5. WORDPRESS:\\n   - Категории и теги\\n   - Excerpt (155 символов)\\n   - Slug (SEO-friendly)\\n\\nВЫВОД в JSON:\\n{\\n  \\\"post_title\\\": \\\"Заголовок\\\",\\n  \\\"post_content\\\": \\\"<p>HTML с изображениями...</p>\\\",\\n  \\\"post_excerpt\\\": \\\"Краткое описание\\\",\\n  \\\"post_slug\\\": \\\"seo-friendly-url\\\",\\n  \\\"post_status\\\": \\\"publish\\\",\\n  \\\"post_category\\\": [1, 5],\\n  \\\"post_tags\\\": [\\\"умный дом\\\", \\\"xiaomi\\\"],\\n  \\\"meta\\\": {\\n    \\\"_yoast_wpseo_title\\\": \\\"SEO Title\\\",\\n    \\\"_yoast_wpseo_metadesc\\\": \\\"Meta Description\\\",\\n    \\\"_yoast_wpseo_focuskw\\\": \\\"Ключевое слово\\\"\\n  },\\n  \\\"schema_markup\\\": {\\n    \\\"@context\\\": \\\"https://schema.org\\\",\\n    \\\"@type\\\": \\\"Article\\\"\\n  },\\n  \\\"featured_image\\\": {\\n    \\\"alt\\\": \\\"Alt текст\\\",\\n    \\\"title\\\": \\\"Title изображения\\\"\\n  }\\n}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "a79c510f-8a23-4135-9ebd-9032bb28dc86",
      "name": "AI Agent 4: WordPress Formatter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5376,
        16
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Парсинг форматированного контента\nconst item = $input.first();\n\ntry {\n  // const response = item.json.choices[0].message.content;\n  \n  const previousData = $('Parse Article & Products').first().json.article_content;\n  const binaryData = $('HTTP: Download Generated Image').first().binary\n    //$('Parse Fact-Check Results').first().binary;\n  \n  return [{\n    json: {\n      article_id:$('Parse & Validate Structure').first().json.article_id ,\n      wordpress_data: $input.first().json.output,\n      products: $('Parse Article & Products').first().json.products ,\n      generated_images:\n      $('Collect All Images').first().json.generated_images , //previousData.generated_images,\n      fact_check: previousData.fact_check,\n      timestamp: new Date().toISOString()\n    },\n    binary: binaryData\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: error.message,\n      stage: 'WordPress Formatter',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "5fd28604-9210-4607-b72d-80b5913c4c0b",
      "name": "Parse Formatted Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "17f20794-3cbb-48f8-bbf5-35b3616a0c44",
      "name": "✅ Agent 5: QA Manager",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5760,
        64
      ],
      "notes": "QA Manager\n\n✅ 100+ проверок\n✅ Финальная валидация\n✅ AI детекция\n✅ APPROVE/BLOCK\n⏱️ ~1 минута"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — придирчивый QA Manager. Ты проверяешь каждую деталь и блокируешь публикацию при любых серьезных проблемах. Твоя цель — только идеальный контент.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Выполни финальную проверку перед публикацией:\\n\\n{{ JSON.stringify($json.wordpress_data, null, 2) }}\\n\\nИЗОБРАЖЕНИЯ: {{ $json.generated_images.length }} шт\\nТОВАРЫ: {{ $json.products.length }} шт\\n\\nПРОВЕРКИ (100+ пунктов):\\n\\n1. ТЕХНИЧЕСКИЕ (20):\\n   ✓ HTML валидность\\n   ✓ Все теги закрыты\\n   ✓ Alt теги на изображениях\\n   ✓ Schema.org валидна\\n\\n2. SEO (25):\\n   ✓ Title 50-60 символов\\n   ✓ Meta description 150-160\\n   ✓ H1 один и уникальный\\n   ✓ Ключевые слова\\n\\n3. КОНТЕНТ (30):\\n   ✓ Нет ошибок\\n   ✓ Читабельность\\n   ✓ Структура\\n   ✓ CTA присутствует\\n\\n4. РОССИЙСКИЙ РЫНОК (15):\\n   ✓ Только рубли\\n   ✓ Бренды доступны в РФ\\n   ✓ Магазины российские\\n\\n5. ИЗОБРАЖЕНИЯ (10):\\n   ✓ Все маркеры заменены\\n   ✓ Alt тексты заполнены\\n   ✓ Правильное размещение\\n\\nВЫВОД в JSON:\\n{\\n  \\\"final_decision\\\": \\\"APPROVE\\\" или \\\"BLOCK\\\",\\n  \\\"quality_score\\\": 0-100,\\n  \\\"checks_passed\\\": 95,\\n  \\\"checks_total\\\": 100,\\n  \\\"critical_issues\\\": [],\\n  \\\"warnings\\\": [],\\n  \\\"categories\\\": {\\n    \\\"technical\\\": {\\\"score\\\": 0-100},\\n    \\\"seo\\\": {\\\"score\\\": 0-100},\\n    \\\"content\\\": {\\\"score\\\": 0-100},\\n    \\\"russian_market\\\": {\\\"score\\\": 0-100},\\n    \\\"images\\\": {\\\"score\\\": 0-100}\\n  },\\n  \\\"ready_to_publish\\\": true/false\\n}\\n\\nЕсли quality_score < 80 → BLOCK\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "96329145-fbd9-46f8-af51-5929b0dbc588",
      "name": "AI Agent 5: QA Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6112,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Финальная обработка QA результатов\nconst item = $input.first();\n\ntry {\n  // Получаем QA результаты напрямую из JSON, а не из content поля\n  const qaResults = item.json;\n  \n  console.log(\"QA Results:\", qaResults.final_decision, qaResults.quality_score);\n  \n  // Получаем данные из предыдущего узла (если он существует)\n  let previousData = {};\n  // let binaryData = null;\n  \n  try {\n    const previousNode = $('Parse Formatted Content');\n    if (previousNode && previousNode.first()) {\n      previousData = previousNode.first().json || {};\n      // binaryData = previousNode.first().binary;\n    }\n  } catch (prevError) {\n    console.log(\"Предыдущий узел не найден или недоступен:\", prevError.message);\n  }\n  \n  // Проверяем условия для публикации\n  const approved = qaResults.final_decision === 'APPROVE'\n    // && \n                  // qaResults.quality_score >= 80 && \n                  // qaResults.ready_to_publish === true\n    ;\n  \n  console.log(\"Approved:\", approved);\n  \n  return [{\n    json: {\n      article_id: previousData.article_id || 'unknown',\n    article_title: $('Get Todays Articles').first().json.ArticleTitle,\n      approved: true, // approved,\n      qa_results: qaResults,\n      wordpress_data: previousData.wordpress_data || {},\n      products: previousData.products || [],\n      generated_images: previousData.generated_images || [],\n      quality_score: qaResults.quality_score,\n      timestamp: new Date().toISOString()\n    },\n    // binary: binaryData\n  }];\n  \n} catch (error) {\n  console.error('Критическая ошибка в QA Manager:', error);\n  return [{\n    json: {\n      error: true,\n      message: error.message,\n      stage: 'QA Manager',\n      timestamp: new Date().toISOString(),\n      input_data: item.json // Для отладки\n    }\n  }];\n}\n\n// // Финальная обработка QA результатов\n// const item = $input.first();\n\n// try {\n//   const response = item.json.choices[0].message.content;\n//   const qaResults = JSON.parse(response);\n  \n// // console.log(qaResults.final_decision);\n// //     console.log(qaResults.quality_score);\n// //     return qaResults;\n// // } catch (error) {\n// //     console.error('Ошибка парсинга JSON:', error);\n// //     return { error: \"Failed to parse JSON\", content: qaResults };\n// // }\n  \n//   const previousData = $('Parse Formatted Content').first().json;\n//   const binaryData = $('Parse Formatted Content').first().binary;\n  \n//   const approved = qaResults.final_decision === 'APPROVE' && \n//                   qaResults.quality_score >= 80 && \n//                   qaResults.ready_to_publish === true;\n  \n//   return [{\n//     json: {\n//       article_id: previousData.article_id,\n//       approved: approved,\n//       qa_results: qaResults,\n//       wordpress_data: previousData.wordpress_data,\n//       products: previousData.products,\n//       generated_images: previousData.generated_images,\n//       quality_score: qaResults.quality_score,\n//       timestamp: new Date().toISOString()\n//     },\n//     binary: binaryData\n//   }];\n  \n// } catch (error) {\n//   return [{\n//     json: {\n//       error: true,\n//       message: error.message,\n//       stage: 'QA Manager',\n//       timestamp: new Date().toISOString()\n//     }\n//   }];\n// }\n"
      },
      "id": "7141abe2-227b-4c5b-85e7-b1ddb92693d1",
      "name": "Parse QA Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc70bbef-bc88-40bf-9b64-0ff28c9999a0",
      "name": "Check QA Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6368,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "articles",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $json.article_id }}"
            }
          ]
        },
        "dataToSend": "defineInNode"
      },
      "id": "8099d06d-2ccb-4139-8913-e7711c6ca724",
      "name": "Supabase: Mark QA Failed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6656,
        432
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "31ddc239-1864-449a-b072-acff8c02a5c5",
      "name": "📤 WordPress: Upload & Publish",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6656,
        64
      ],
      "notes": "WordPress Publishing\n\n✅ Загрузка изображений\n✅ Создание поста\n✅ Привязка изображений\n✅ SEO метаданные\n⏱️ ~1-2 минуты"
    },
    {
      "parameters": {
        "fieldToSplitOut": "article_id",
        "options": {}
      },
      "id": "ddd31a3e-65a2-46b0-83ed-6058755f23cb",
      "name": "Split Images for Upload",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6464,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://easysmarthome.ru/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $json.file_name }}\""
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=",
        "options": {}
      },
      "id": "f8e4fe5a-a258-46ae-8bca-a0e508662cae",
      "name": "WordPress: Upload Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6912,
        480
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "LZYXmVMtt8w92f4v",
          "name": "Unnamed credential 2"
        },
        "httpHeaderAuth": {
          "id": "xVJKwv0qdA8l0Pti",
          "name": "Header Auth account"
        },
        "wordpressApi": {
          "id": "osjlihuGOMjW4tGb",
          "name": "Wordpress account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Сохраняем ID загруженного изображения\nconst item = $input.first();\nconst imageData = $('Split Images for Upload').item.json;\n\nreturn [{\n  json: {\n    image_index: imageData.index,\n    position: imageData.position,\n    wordpress_media_id: item.json.id,\n    wordpress_url: item.json.source_url,\n    alt_text: imageData.alt_text\n  }\n}];"
      },
      "id": "03d7521d-d6dc-4001-b007-4444cf736fc3",
      "name": "Save Uploaded Image ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7328,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "8a5f98d6-16f1-4f62-9611-ebedd12f4900",
      "name": "Merge Uploaded Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7536,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Собираем все загруженные изображения и заменяем плейсхолдеры\nconst items = $input.all();\nconst qaData = $('Parse QA Results').first().json;\n\nconst uploadedImages = items.map(item => ({\n  index: item.json.image_index,\n  media_id: item.json.wordpress_media_id,\n  url: item.json.wordpress_url,\n  alt_text: item.json.alt_text,\n  position: item.json.position\n}));\n\n// Заменяем плейсхолдеры в контенте\nlet finalContent = qaData.wordpress_data.post_content;\n\nuploadedImages.forEach(img => {\n  const placeholder = `PLACEHOLDER_IMAGE_${img.index}`;\n  finalContent = finalContent.replace(new RegExp(placeholder, 'g'), img.url);\n});\n\n// Находим featured image (первое изображение или header)\nconst featuredImage = uploadedImages.find(img => \n  img.position === 'header' || img.index === 1\n);\n\nreturn [{\n  json: {\n    article_id: qaData.article_id,\n    wordpress_data: {\n      ...qaData.wordpress_data,\n      post_content: finalContent,\n      featured_media: featuredImage?.media_id || null\n    },\n    uploaded_images: uploadedImages,\n    products: qaData.products,\n    qa_results: qaData.qa_results,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "2c2806d9-0427-40ed-9363-ea76e2d7681e",
      "name": "Prepare Final Post with Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7760,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://your-wordpress-site.ru/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.wordpress_data.post_title }}\",\n  \"content\": \"{{ $json.wordpress_data.post_content }}\",\n  \"excerpt\": \"{{ $json.wordpress_data.post_excerpt }}\",\n  \"slug\": \"{{ $json.wordpress_data.post_slug }}\",\n  \"status\": \"{{ $json.wordpress_data.post_status }}\",\n  \"categories\": {{ JSON.stringify($json.wordpress_data.post_category) }},\n  \"tags\": {{ JSON.stringify($json.wordpress_data.post_tags) }},\n  \"featured_media\": {{ $json.wordpress_data.featured_media }},\n  \"meta\": {{ JSON.stringify($json.wordpress_data.meta) }}\n}",
        "options": {}
      },
      "id": "b1f0ee0a-0dba-477b-8a33-eac3b203df9d",
      "name": "WordPress: Create Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8032,
        432
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "LZYXmVMtt8w92f4v",
          "name": "Unnamed credential 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "b788efec-b6be-4570-b3df-5d0051d43346",
      "name": "💾 Supabase: Final Save",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8224,
        64
      ],
      "notes": "Сохранение в Supabase:\n✅ Vector embedding\n✅ Полный контент\n✅ Изображения\n✅ Товарные ссылки\n✅ WordPress ID"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "bb776290-7eb9-41ae-a77a-a795d8a4e9ea",
      "name": "OpenAI: Create Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        8720,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// // Исправленный код для подготовки данных для embedding\n// const item = $input.first();\n// const postData =  $input.first().json.content.raw;\n//   // $('Prepare Final Post with Images').first().json;\n// const wpResponse = item.json;\n\n// // Функция для очистки текста от HTML и лишних символов\n// function cleanText(text) {\n//   return text\n//     .replace(/<[^>]*>/g, ' ') // Удаляем HTML теги\n//     .replace(/\\s+/g, ' ') // Заменяем множественные пробелы на один\n//     .replace(/\\[IMAGE_\\d+\\]/g, '') // Удаляем метки изображений\n//     .trim();\n// }\n\n// // Извлекаем и очищаем основной контент\n// const cleanContent = cleanText(postData)\n// //.wordpress_data.post_content);\n\n// // Создаем структурированные чанки с контекстом\n// const chunks = [];\n\n// // Чанк 1: Введение и основная концепция\n// chunks.push({\n//   chunk_id: `${postData.article_id}_intro`,\n//   content: `\n//     Заголовок:$input.first().json.ArticleTitle,\n//     //${postData.wordpress_data.post_title}\n//     Тип контента: $input.first().json.keywords\n//     Контекст: $input.first().json.Abstract\n//     Контент: ${cleanContent.substring(0, 1500)}\n//   `.trim(),\n//   metadata: {\n//     article_id: $input.first().json.id,\n//     chunk_type: \"introduction\",\n//     word_count: 1500,\n//     section: \"Умный дом и его роль в современной жизни\"\n//   }\n// });\n\n// // Чанк 2: Экономическая выгода\n// const economySection = cleanContent.match(/Экономия на коммунальных услугах с умным домом([\\s\\S]*?)Безопасность семьи/);\n// if (economySection) {\n//   chunks.push({\n//     chunk_id: `${postData.article_id}_economy`,\n//     content: `\n//       Заголовок: Экономия на коммунальных услугах\n//       Тип контента: Финансовые преимущества\n//       Контекст: Снижение расходов на ЖКХ, конкретные цифры экономии\n//       Контент: ${cleanText(economySection[1]).substring(0, 1200)}\n//     `.trim(),\n//     metadata: {\n//       article_id: postData.article_id,\n//       chunk_type: \"financial_benefits\",\n//       word_count: 1200,\n//       section: \"Экономия на коммунальных услугах\",\n//       products: postData.products.filter(p => p.price < 8000) // Бюджетные устройства\n//     }\n//   });\n// }\n\n// // Чанк 3: Безопасность\n// const securitySection = cleanContent.match(/Безопасность семьи — превыше всего([\\s\\S]*?)Комфорт и удобство/);\n// if (securitySection) {\n//   chunks.push({\n//     chunk_id: `${postData.article_id}_security`,\n//     content: `\n//       Заголовок: Безопасность семьи\n//       Тип контента: Защита и видеонаблюдение\n//       Контекст: Устройства безопасности, защита данных\n//       Контент: ${cleanText(securitySection[1]).substring(0, 1200)}\n//     `.trim(),\n//     metadata: {\n//       article_id: postData.article_id,\n//       chunk_type: \"security\",\n//       word_count: 1200,\n//       section: \"Безопасность семьи\",\n//       products: postData.products.filter(p => \n//         p.name.includes('Камера') || p.name.includes('Датчик') || p.name.includes('Замок')\n//       )\n//     }\n//   });\n// }\n\n// // Чанк 4: Комфорт и автоматизация\n// const comfortSection = cleanContent.match(/Комфорт и удобство каждый день([\\s\\S]*?)Забота о здоровье/);\n// if (comfortSection) {\n//   chunks.push({\n//     chunk_id: `${postData.article_id}_comfort`,\n//     content: `\n//       Заголовок: Комфорт и автоматизация\n//       Тип контента: Повседневное удобство\n//       Контекст: Автоматизация процессов, голосовое управление\n//       Контент: ${cleanText(comfortSection[1]).substring(0, 1000)}\n//     `.trim(),\n//     metadata: {\n//       article_id: postData.article_id,\n//       chunk_type: \"comfort_automation\",\n//       word_count: 1000,\n//       section: \"Комфорт и удобство\",\n//       products: postData.products.filter(p => \n//         p.name.includes('Станция') || p.name.includes('Лампа') || p.name.includes('Розетка')\n//       )\n//     }\n//   });\n// }\n\n// // Чанк 5: Здоровье и экология\n// const healthSection = cleanContent.match(/Забота о здоровье и благополучии([\\s\\S]*?)$/);\n// if (healthSection) {\n//   chunks.push({\n//     chunk_id: `${postData.article_id}_health`,\n//     content: `\n//       Заголовок: Здоровье и благополучие\n//       Тип контента: Экология и здоровый образ жизни\n//       Контекст: Качество воздуха, освещение, влияние на здоровье\n//       Контент: ${cleanText(healthSection[1]).substring(0, 1000)}\n//     `.trim(),\n//     metadata: {\n//       article_id: postData.article_id,\n//       chunk_type: \"health_environment\",\n//       word_count: 1000,\n//       section: \"Забота о здоровье\",\n//       products: postData.products.filter(p => \n//         p.name.includes('Датчик качества') || p.name.includes('Увлажнитель') || p.name.includes('Светильник')\n//       )\n//     }\n//   });\n// }\n\n// return chunks.map(chunk => ({\n//   json: {\n//     ...chunk,\n//     wordpress_post_id: wpResponse.id,\n//     wordpress_url: wpResponse.link,\n//     uploaded_images: postData.uploaded_images,\n//     qa_results: postData.qa_results\n//   }\n// }));\n\n// Подготовка данных для embedding\nconst item = $input.first();\n const postData = $input.first().json.content;\nconst wpResponse = item.json;\n\n// Текст для embedding (без HTML)\nconst textForEmbedding = `\n  ${postData.wordpress_data.post_title}\n  ${postData.wordpress_data.post_excerpt}\n  ${postData.wordpress_data.post_content.replace(/<[^>]*>/g, ' ').substring(0, 8000)}\n`.trim();\n\nreturn [{\n  json: {\n    article_id: postData.article_id,\n    text_for_embedding: textForEmbedding,\n    wordpress_post_id: wpResponse.id,\n    wordpress_url: wpResponse.link,\n    wordpress_data: postData.wordpress_data,\n    uploaded_images: postData.uploaded_images,\n    products: postData.products,\n    qa_results: postData.qa_results\n  }\n}];"
      },
      "id": "4c76460e-ddf1-4463-8eb6-2e2d0d688a18",
      "name": "Prepare for Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8464,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.text_for_embedding }}\"\n}",
        "options": {}
      },
      "id": "43fb9e4d-0296-4450-84ad-835cbd97f25e",
      "name": "Create Vector Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8672,
        288
      ],
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "articles",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $('Prepare for Embedding').item.json.article_id }}"
            }
          ]
        },
        "dataToSend": "defineInNode"
      },
      "id": "9854c96f-cb7f-4a95-98a1-f6e75c8e6bf6",
      "name": "Supabase: Save Final Article",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8896,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WqDADAHyl8e278pp",
          "name": "Supabase account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "bb32ad89-dceb-43ab-b18b-0a941a17e57a",
      "name": "✅ Success!",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9120,
        64
      ],
      "notes": "🎉 СТАТЬЯ ОПУБЛИКОВАНА!\n\n✅ 5 AI агентов\n✅ 1-3 изображения DALL-E 3\n✅ Товарные ссылки\n✅ 100+ QA проверок\n✅ Vector embedding\n✅ WordPress published"
    },
    {
      "parameters": {
        "jsCode": "// Финальный отчет\nconst item = $input.first();\nconst embedData = $('Prepare for Embedding').item.json;\n\nconst report = {\n  success: true,\n  article_id: embedData.article_id,\n  wordpress_post_id: embedData.wordpress_post_id,\n  wordpress_url: embedData.wordpress_url,\n  quality_score: embedData.qa_results.quality_score,\n  images_generated: embedData.uploaded_images.length,\n  products_linked: embedData.products.length,\n  processing_time: {\n    started_at: $('Merge Triggers').first().json.timestamp || new Date().toISOString(),\n    completed_at: new Date().toISOString()\n  },\n  stages_completed: [\n    'Structure Architect',\n    'Research & Copywriter',\n    'DALL-E 3 Image Generation',\n    'Fact-Check Auditor',\n    'WordPress Formatter',\n    'QA Manager',\n    'WordPress Upload & Publish',\n    'Supabase Vector Save'\n  ],\n  summary: {\n    title: embedData.wordpress_data.post_title,\n    images: embedData.uploaded_images.map(img => ({\n      position: img.position,\n      url: img.url\n    })),\n    products: embedData.products.map(p => ({\n      name: p.name,\n      price: `${p.price} ${p.currency}`,\n      url: p.url\n    })),\n    seo_score: embedData.qa_results.quality_score,\n    russian_market_validated: true\n  }\n};\n\nreturn [{ json: report }];"
      },
      "id": "3f30c70d-c4d8-4f4e-99f6-805e3b923a2b",
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9344,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        720
      ],
      "id": "2c300d54-340d-4a77-823c-5e79e8cf2ad0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1264,
        496
      ],
      "id": "da5222a6-14ae-40fd-814e-5acc6c4d92ef",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "xeSb8JH5ZCalaxbP",
          "name": "Tavily account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        2096,
        480
      ],
      "id": "03455522-854a-4d1d-a8a0-a0bf6ad60b0d",
      "name": "Search in Tavily1",
      "credentials": {
        "tavilyApi": {
          "id": "xeSb8JH5ZCalaxbP",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select *\nfrom \"MediaPlanSmartHome\" AS Mp\nwhere Mp.\"DatePublication\" <= current_date and wp_id isnull\norder by \"DatePublication\"\nlimit 1",
        "options": {
          "connectionTimeout": 30
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        288
      ],
      "id": "4ad1fce8-d612-4327-a00b-443f71799136",
      "name": "Get Todays Articles",
      "credentials": {
        "postgres": {
          "id": "626k5DgxZZhSe6TU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.dalle_prompt }}",
        "options": {
          "dalleQuality": "hd",
          "style": "natural",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3440,
        -160
      ],
      "id": "22f7b11d-5c45-4325-95b7-e1ad177c5166",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 60fec14707949acd5529c137c12dda83"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \n  \"input\": {\n    \"prompt\": \"{{ $json.dalle_prompt }}. Использовать только бренды доступные в РФ (Xiaomi, Aqara, Яндекс, Sber) либо вообще неуказывать бренд на рисунке.\", \n    \"output_format\": \"png\",\n    \"image_size\": \"1:1\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        64
      ],
      "id": "257c84f4-ed00-4adc-a779-b34e9e22ee01",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 60fec14707949acd5529c137c12dda83"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        64
      ],
      "id": "16026b04-a79a-4597-bf0a-58d39305dd6f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 50
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3040,
        64
      ],
      "id": "b60fa91d-8f99-435d-993c-f2e21101c3a6",
      "name": "Wait",
      "webhookId": "4a914941-a8e6-4b0b-b24f-d04bee948551"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97f2ac54-ecd5-449e-af8e-3597f55fecf2",
              "leftValue": "={{ $json.data.resultJson }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3408,
        64
      ],
      "id": "8b216600-dfe3-4fc0-a002-97a4734a18dd",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3024,
        208
      ],
      "id": "e1d39e77-f3f0-4534-a16a-f9af3c2f5ebb",
      "name": "Wait1",
      "webhookId": "93ea0adc-8781-45fa-8671-e0eaf3be2ff4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.taskId",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3664,
        48
      ],
      "id": "e139ede4-7152-413e-81ca-50fb5fa85849",
      "name": "Split Out"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        4288,
        528
      ],
      "id": "ebe59b67-de3f-4f60-96e1-38fa9af22953",
      "name": "Search in Tavily2",
      "credentials": {
        "tavilyApi": {
          "id": "xeSb8JH5ZCalaxbP",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "MediaPlanSmartHome",
          "mode": "list",
          "cachedResultName": "MediaPlanSmartHome"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error_Article": true,
            "id": "={{ $('Collect All Images').item.json.article_id }}",
            "Error_text": "={{ $json.message }}{{ $json.critical_issues[0].description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rublika",
              "displayName": "Rublika",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ArticleTitle",
              "displayName": "ArticleTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "DatePublication",
              "displayName": "DatePublication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "PurposeArticle",
              "displayName": "PurposeArticle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Abstract",
              "displayName": "Abstract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Error_Article",
              "displayName": "Error_Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "Error_text",
              "displayName": "Error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4912,
        592
      ],
      "id": "66152ca2-d21d-44b8-bf9a-00cb818f2e5d",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "626k5DgxZZhSe6TU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4576,
        752
      ],
      "id": "f9430bc3-6e45-4156-8bb8-13623719177f",
      "name": "Split Out1",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"status\": \"FAIL\",\n    \"critical_issues\": [\n        {\n            \"type\": \"images\",\n            \"severity\": \"critical\",\n            \"description\": \"В статье отмечено наличие 3 маркеров изображений ([IMAGE_1], [IMAGE_2], [IMAGE_3]), тогда как предоставлено только 2 изображения.\",\n            \"location\": \"Разметка статьи (маркер изображения)\",\n            \"fix_required\": \"Обеспечить предоставление всех трёх изображений или удалить один из маркеров изображения в тексте.\",\n            \"warnings\": [\n            ],\n            \"verified_facts\": {\n                \"currency_validated\": true,\n                \"brands_validated\": true,\n                \"products_validated\": true,\n                \"images_validated\": false\n            },\n            \"recommendation\": \"BLOCK\"\n        }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4496,
        592
      ],
      "id": "b13c6ab1-6c24-4e22-a265-c0e154128a3e",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "openai/gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5760,
        560
      ],
      "id": "19674f38-a725-4300-980f-833b3b8ae775",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6144,
        624
      ],
      "id": "b1eb269e-747a-485e-893b-9655ae7f5255",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Проверь эту статью на соответствие требованиям:\\n\\nСТАТЬЯ:\\n{{ $json.article_content }}\\n\\nТОВАРЫ:\\n{{ JSON.stringify($json.products, null, 2) }}\\n\\nКРИТИЧЕСКИЕ ПРОВЕРКИ:\\n\\n1. ВАЛЮТА:\\n   ❌ БЛОКИРОВАТЬ если найдены: $, USD, €, EUR, £, GBP\\n   ✅ РАЗРЕШЕНО: ₽, руб., рублей, RUB\\n\\n2. БРЕНДЫ:\\n   ❌ БЛОКИРОВАТЬ: Google Home, Amazon Alexa, Nest, Ring\\n   ✅ РАЗРЕШЕНО: Xiaomi, Aqara, Яндекс, Sber, Rubetek\\n\\n3. МАГАЗИНЫ:\\n   ❌ БЛОКИРОВАТЬ: Amazon.com, eBay (как основной)\\n   ✅ РАЗРЕШЕНО: Яндекс.Маркет, Ozon, Wildberries\\n\\n4. ТОВАРЫ:\\n   - Проверь что все товары доступны в РФ\\n   - Проверь что цены в рублях\\n   - Проверь что ссылки на российские магазины\\n\\n5. ИЗОБРАЖЕНИЯ:\\n   - Проверь наличие маркеров [IMAGE_N]\\n   - Количество: {{ $json.images_count }}\\n\\nВЫВОД в JSON:\\n{\\n  \\\"status\\\": \\\"PASS\\\" или \\\"FAIL\\\",\\n  \\\"critical_issues\\\": [\\n    {\\n      \\\"type\\\": \\\"currency|brand|availability\\\",\\n      \\\"severity\\\": \\\"critical|high\\\",\\n      \\\"description\\\": \\\"Описание проблемы\\\",\\n      \\\"location\\\": \\\"Где найдено\\\",\\n      \\\"fix_required\\\": \\\"Как исправить\\\"\\n    }\\n  ],\\n  \\\"warnings\\\": [],\\n  \\\"verified_facts\\\": {\\n    \\\"currency_validated\\\": true/false,\\n    \\\"brands_validated\\\": true/false,\\n    \\\"products_validated\\\": true/false,\\n    \\\"images_validated\\\": true/false\\n  },\\n  \\\"recommendation\\\": \\\"APPROVE\\\" или \\\"BLOCK\\\"\\n}\"",
        "options": {
          "systemMessage": "\"Ты — строгий аудитор контента. Твоя задача — находить любые несоответствия российскому рынку и блокировать публикацию при критических ошибках.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4160,
        288
      ],
      "id": "521772d9-235a-4186-ac24-0303c139d4c6",
      "name": "AI Agent 3: Fact-Check Auditor1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Преобразуй эту статью в формат для WordPress:\\n\\nСТАТЬЯ:\\n {{ $('Collect All Images').item.json.article_content }} \\n\\nИЗОБРАЖЕНИЯ:\\n{{ JSON.stringify($('Collect All Images').item.json.generated_images, null, 2) }}  \n\n\\n\\nТРЕБОВАНИЯ:\\n\\n1. HTML КОНВЕРТАЦИЯ:\\n   - Markdown → чистый HTML\\n   - Используй семантические теги\\n   - Добавь классы для стилизации\\n\\n2. ВСТАВКА ИЗОБРАЖЕНИЙ:\\n   - Замени маркеры [IMAGE_N] на HTML:\\n   - <figure class=\\\"wp-block-image\\\">\\n       <img src=\\\"PLACEHOLDER_IMAGE_N\\\" alt=\\\"alt_text\\\" />\\n       <figcaption>description</figcaption>\\n     </figure>\\n   - Используй данные из generated_images\\n\\n3. SEO МЕТАДАННЫЕ:\\n   - Title (50-60 символов)\\n   - Meta Description (150-160 символов)\\n   - Focus Keyword\\n   - Open Graph теги\\n\\n4. SCHEMA.ORG:\\n   - Article schema\\n   - BreadcrumbList\\n   - FAQPage\\n\\n5. WORDPRESS:\\n   - Категории и теги\\n   - Excerpt (155 символов)\\n   - Slug (SEO-friendly)\\n\\nВЫВОД в JSON:\\n{\\n  \\\"post_title\\\": \\\"Заголовок\\\",\\n  \\\"post_content\\\": \\\"<p>HTML с изображениями...</p>\\\",\\n  \\\"post_excerpt\\\": \\\"Краткое описание\\\",\\n  \\\"post_slug\\\": \\\"seo-friendly-url\\\",\\n  \\\"post_status\\\": \\\"publish\\\",\\n  \\\"post_category\\\": [1, 5],\\n  \\\"post_tags\\\": [\\\"умный дом\\\", \\\"xiaomi\\\"],\\n  \\\"meta\\\": {\\n    \\\"_yoast_wpseo_title\\\": \\\"SEO Title\\\",\\n    \\\"_yoast_wpseo_metadesc\\\": \\\"Meta Description\\\",\\n    \\\"_yoast_wpseo_focuskw\\\": \\\"Ключевое слово\\\"\\n  },\\n  \\\"schema_markup\\\": {\\n    \\\"@context\\\": \\\"https://schema.org\\\",\\n    \\\"@type\\\": \\\"Article\\\"\\n  },\\n  \\\"featured_image\\\": {\\n    \\\"alt\\\": \\\"Alt текст\\\",\\n    \\\"title\\\": \\\"Title изображения\\\"\\n  }\\n}",
        "options": {
          "systemMessage": "Ты — эксперт по WordPress и SEO. Ты создаешь идеально оптимизированный контент для публикации с правильной вставкой изображений.",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        5072,
        288
      ],
      "id": "292b4291-2823-4609-9fed-1ae0b03a083e",
      "name": "AI Agent 4: WordPress Formatternt",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5072,
        496
      ],
      "id": "e0aed637-3c02-4311-b3ac-802deeaef251",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Выполни финальную проверку перед публикацией:\\n\\n{{ JSON.stringify($json.wordpress_data, null, 2) }}\\n\\nИЗОБРАЖЕНИЯ: {{ $json.generated_images.length }} шт\\nТОВАРЫ: {{ $json.products.length }} шт\\n\\nПРОВЕРКИ (100+ пунктов):\\n\\n1. ТЕХНИЧЕСКИЕ (20):\\n   ✓ HTML валидность\\n   ✓ Все теги закрыты\\n   ✓ Alt теги на изображениях\\n   ✓ Schema.org валидна\\n\\n2. SEO (25):\\n   ✓ Title 50-60 символов\\n   ✓ Meta description 150-160\\n   ✓ H1 один и уникальный\\n   ✓ Ключевые слова\\n\\n3. КОНТЕНТ (30):\\n   ✓ Нет ошибок\\n   ✓ Читабельность\\n   ✓ Структура\\n   ✓ CTA присутствует\\n\\n4. РОССИЙСКИЙ РЫНОК (15):\\n   ✓ Только рубли\\n   ✓ Бренды доступны в РФ\\n   ✓ Магазины российские\\n\\n5. ИЗОБРАЖЕНИЯ (10):\\n   ✓ Все маркеры заменены\\n   ✓ Alt тексты заполнены\\n   ✓ Правильное размещение\\n\\nВЫВОД в JSON:\\n{\\n  \\\"final_decision\\\": \\\"APPROVE\\\" или \\\"BLOCK\\\",\\n  \\\"quality_score\\\": 0-100,\\n  \\\"checks_passed\\\": 95,\\n  \\\"checks_total\\\": 100,\\n  \\\"critical_issues\\\": [],\\n  \\\"warnings\\\": [],\\n  \\\"categories\\\": {\\n    \\\"technical\\\": {\\\"score\\\": 0-100},\\n    \\\"seo\\\": {\\\"score\\\": 0-100},\\n    \\\"content\\\": {\\\"score\\\": 0-100},\\n    \\\"russian_market\\\": {\\\"score\\\": 0-100},\\n    \\\"images\\\": {\\\"score\\\": 0-100}\\n  },\\n  \\\"ready_to_publish\\\": true/false\\n}\\n\\nЕсли quality_score < 80 → BLOCK\"",
        "options": {
          "systemMessage": "\"Ты — придирчивый QA Manager. Ты проверяешь каждую деталь и блокируешь публикацию при любых серьезных проблемах. Твоя цель — только идеальный контент.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        5728,
        288
      ],
      "id": "9613e324-1acd-4ef8-bbc3-0e669b0aa2c1",
      "name": "AI Agent 5: QA Manager1"
    },
    {
      "parameters": {
        "title": "={{ $('Get Todays Articles').item.json.ArticleTitle }}",
        "additionalFields": {
          "content": "={{ $json.HTML }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        7024,
        240
      ],
      "id": "59dd2843-fd14-43a2-a8fb-488e8b713e39",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "cGgPADc1UQ5EQtM4",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://easysmarthome.ru/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{JSON.parse($json.data.resultJson).resultUrls[0]}}\"\""
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "id": "1641b379-626b-43ab-aa7d-6dd43637ad82",
      "name": "WordPress: Upload Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        -400
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "LZYXmVMtt8w92f4v",
          "name": "Unnamed credential 2"
        },
        "httpHeaderAuth": {
          "id": "xVJKwv0qdA8l0Pti",
          "name": "Header Auth account"
        },
        "wordpressApi": {
          "id": "cGgPADc1UQ5EQtM4",
          "name": "Wordpress account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "destinationKey": "HTML",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2672,
        576
      ],
      "id": "e5fcc919-ace5-4d85-a36c-6ad73c8528b6",
      "name": "Markdown"
    },
    {
      "parameters": {
        "title": "={{ $json.article_title }}",
        "additionalFields": {
          "content": "={{ $('AI Agent 4: WordPress Formatternt').item.json.output }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        4304,
        672
      ],
      "id": "168d1eb8-de90-4838-9c0c-b6ea62a7b0eb",
      "name": "Create a post1",
      "credentials": {
        "wordpressApi": {
          "id": "cGgPADc1UQ5EQtM4",
          "name": "Wordpress account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "MediaPlanSmartHome",
          "mode": "list",
          "cachedResultName": "MediaPlanSmartHome"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sticky": "={{ $json.sticky }}",
            "id": "={{ $('Parse & Validate Structure').item.json.article_id }}",
            "wp_id": "={{ $json.id }}",
            "date": "={{ $json.date }}",
            "date_gmt": "={{ $json.date_gmt }}",
            "modified": "={{ $json.modified }}",
            "modified_gmt": "={{ $json.modified_gmt }}",
            "password": "={{ $json.password }}",
            "slug": "={{ $json.slug }}",
            "status": "={{ $json.status }}",
            "type": "={{ $json.type }}",
            "link": "={{ $json.link }}",
            "title": "={{ $json.title }}",
            "content": "={{ $json.content }}",
            "excerpt": "={{ $json.excerpt }}",
            "author": "={{ $json.author }}",
            "featured_media": "={{ $json.featured_media }}",
            "comment_status": "={{ $json.comment_status }}",
            "ping_status": "={{ $json.ping_status }}",
            "template": "={{ $json.template }}",
            "format": "={{ $json.format }}",
            "meta": "={{ $json.meta }}",
            "categories": "={{ $json.categories }}",
            "tags": "={{ $json.tags }}",
            "permalink_template": "={{ $json.permalink_template }}",
            "generated_slug": "={{ $json.generated_slug }}",
            "class_list": "={{ $json.class_list }}",
            "yoast_head": "={{ $json.yoast_head }}",
            "yoast_head_json": "={{ $json.yoast_head_json }}",
            "_links": "={{ $json._links }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rublika",
              "displayName": "Rublika",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ArticleTitle",
              "displayName": "ArticleTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "DatePublication",
              "displayName": "DatePublication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "PurposeArticle",
              "displayName": "PurposeArticle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Abstract",
              "displayName": "Abstract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Error_Article",
              "displayName": "Error_Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Error_text",
              "displayName": "Error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "wp_id",
              "displayName": "wp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "date_gmt",
              "displayName": "date_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "modified",
              "displayName": "modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "modified_gmt",
              "displayName": "modified_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "excerpt",
              "displayName": "excerpt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "featured_media",
              "displayName": "featured_media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "comment_status",
              "displayName": "comment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ping_status",
              "displayName": "ping_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sticky",
              "displayName": "sticky",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "template",
              "displayName": "template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "format",
              "displayName": "format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "permalink_template",
              "displayName": "permalink_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "generated_slug",
              "displayName": "generated_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "class_list",
              "displayName": "class_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "yoast_head",
              "displayName": "yoast_head",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "yoast_head_json",
              "displayName": "yoast_head_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "_links",
              "displayName": "_links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7232,
        240
      ],
      "id": "d83d4f28-3dd6-4f50-adef-9edb16ed85f5",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "626k5DgxZZhSe6TU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "MediaPlanSmartHome",
          "mode": "list",
          "cachedResultName": "MediaPlanSmartHome"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.article_id }}",
            "article_content": "={{ $json.article_content }}",
            "generated_images_ar": "={{ $json.generated_images }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rublika",
              "displayName": "Rublika",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ArticleTitle",
              "displayName": "ArticleTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "DatePublication",
              "displayName": "DatePublication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "PurposeArticle",
              "displayName": "PurposeArticle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Abstract",
              "displayName": "Abstract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Error_Article",
              "displayName": "Error_Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Error_text",
              "displayName": "Error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "wp_id",
              "displayName": "wp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "date_gmt",
              "displayName": "date_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "modified",
              "displayName": "modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "modified_gmt",
              "displayName": "modified_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "excerpt",
              "displayName": "excerpt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "featured_media",
              "displayName": "featured_media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "comment_status",
              "displayName": "comment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ping_status",
              "displayName": "ping_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sticky",
              "displayName": "sticky",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "template",
              "displayName": "template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "format",
              "displayName": "format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "permalink_template",
              "displayName": "permalink_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "generated_slug",
              "displayName": "generated_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "class_list",
              "displayName": "class_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "yoast_head",
              "displayName": "yoast_head",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "yoast_head_json",
              "displayName": "yoast_head_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "_links",
              "displayName": "_links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "article_content",
              "displayName": "article_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "generated_images",
              "displayName": "generated_images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "generated_images_ar",
              "displayName": "generated_images_ar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4224,
        64
      ],
      "id": "5fb4e56c-a4a2-4cb3-80aa-d0961ba8fbe8",
      "name": "Insert or update rows in a table2",
      "credentials": {
        "postgres": {
          "id": "626k5DgxZZhSe6TU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "articles"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        8864,
        528
      ],
      "id": "e8ba63a9-bc6d-465c-beab-2a28f9e4c177",
      "name": "Create a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "WqDADAHyl8e278pp",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_duplicate",
          "mode": "list",
          "cachedResultName": "documents_duplicate"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        7520,
        0
      ],
      "id": "8c11c4bf-71f5-4bc4-b73a-0eba81021c24",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "WqDADAHyl8e278pp",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 512,
          "stripNewLines": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        7472,
        256
      ],
      "id": "f327589d-36b0-4105-901a-9eb1da96384f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        7616,
        256
      ],
      "id": "b5bc48ef-f2c8-4e99-be7a-cd03bfd07282",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4288,
        -576
      ],
      "id": "b0399c4a-d425-4855-a9b7-be02c2ce773c",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.href }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "dataImage",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5104,
        -304
      ],
      "id": "3776b6d4-5a7a-49b5-92c5-f2047e0f054c",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://cloud-api.yandex.net/v1/disk/resources/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "=EasySmartHome/articleid_{{ $('Parse Article & Products').item.json.article_id }}+{{ $('Item Lists - Images').item.json.position }}.png"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "OAuth y0__xDE5IEDGNuWAyDrnMSaFTCF9KqxCIKLO6wh80lUNqqKz44Z17S7PxwA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4128,
        -320
      ],
      "id": "8ba447a8-1142-48e0-b6a4-73146d8a5a04",
      "name": "UP Ydisk",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud-api.yandex.net/v1/disk/resources/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "=EasySmartHome/{{ $('Item Lists - Images').item.json.position }}_id_{{ $('Parse Article & Products').item.json.article_id }}.png"
            },
            {
              "name": "url",
              "value": "={{JSON.parse($json.data.resultJson).resultUrls[0]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "OAuth y0__xDE5IEDGNuWAyDrnMSaFTCF9KqxCIKLO6wh80lUNqqKz44Z17S7PxwA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        288
      ],
      "id": "757c511c-3204-49ae-b1f8-aa33c73cc415",
      "name": "download YD"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4.1",
          "mode": "list",
          "cachedResultName": "openai/gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4144,
        512
      ],
      "id": "57159774-63a5-4b38-9034-bf8187d6f6a8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "jX3sr2V4xXR12GMQ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — Structure Architect для российского рынка умных домов.\\n\\nЗАДАЧА:\\nСоздай детальную структуру статьи на тему: \\\"{{ $json.ArticleTitle }} по описанию {{ $json.Abstract }}\\\"\\n\\nТРЕБОВАНИЯ:\\n\\n1. РОССИЙСКИЙ РЫНОК:\\n   - Только бренды доступные в РФ (Xiaomi, Aqara, Яндекс, Sber)\\n   - Цены ТОЛЬКО в рублях (RUB)\\n   - Магазины: Яндекс.Маркет, Ozon, Wildberries\\n   - Альтернативы: Google Home → Яндекс Станция\\n\\n2. СТРУКТУРА:\\n   - H1: Цепляющий заголовок (50-60 символов)\\n   - Введение (150-200 слов)\\n   - 5-7 основных разделов (H2)\\n   - Подразделы (H3) где нужно\\n   - FAQ секция (5-7 вопросов)\\n   - Заключение с CTA\\n\\n3. ИЗОБРАЖЕНИЯ (1-3 штуки):\\n   - Спланируй 1-3 изображения для статьи\\n   - Для каждого изображения укажи:\\n     * position: \\\"header\\\" | \\\"section_N\\\" | \\\"conclusion\\\"\\n     * description_ru: Что должно быть на изображении\\n     * dalle_prompt: Детальный промпт для DALL-E 3 на английском (realistic, high quality, professional photography style)\\n     * alt_text: SEO-оптимизированный alt текст\\n     * usage: Где и как будет использоваться\\n\\n4. SEO:\\n   - Ключевые слова: {{ $json.keywords }} \\n   - Meta description (150-160 символов)\\n   - Внутренние ссылки (3-5)\\n   - Внешние ссылки (2-3)\\n\\n5. КОНТЕНТ:\\n   - Объем: 3000+ слов\\n   - Тон: экспертный, но дружелюбный\\n   - Примеры из российской практики\\n   - Актуальные цены 2024 года\\n\\nВЫВОД СТРОГО в JSON формате:\\n{\\n  \\\"title\\\": \\\"H1 заголовок\\\",\\n  \\\"meta_description\\\": \\\"SEO описание\\\",\\n  \\\"structure\\\": [\\n    {\\n      \\\"section\\\": \\\"H2 заголовок\\\",\\n      \\\"subsections\\\": [\\\"H3 подразделы\\\"],\\n      \\\"key_points\\\": [\\\"Основные тезисы\\\"],\\n      \\\"word_count\\\": 400\\n    }\\n  ],\\n  \\\"images_plan\\\": [\\n    {\\n      \\\"position\\\": \\\"header\\\",\\n      \\\"description_ru\\\": \\\"Современная умная квартира с устройствами Xiaomi\\\",\\n      \\\"dalle_prompt\\\": \\\"Modern smart home interior with Xiaomi devices, clean minimalist design, natural lighting, professional photography, realistic, high quality, 4k\\\",\\n      \\\"alt_text\\\": \\\"Умный дом с устройствами Xiaomi - современный интерьер\\\",\\n      \\\"usage\\\": \\\"Главное изображение статьи\\\"\\n    }\\n  ],\\n  \\\"faq\\\": [\\n    {\\\"question\\\": \\\"Вопрос\\\", \\\"answer_brief\\\": \\\"Краткий ответ\\\"}\\n  ],\\n  \\\"internal_links\\\": [\\\"Темы для ссылок\\\"],\\n  \\\"external_sources\\\": [\\\"Типы источников\\\"],\\n  \\\"russian_context\\\": {\\n    \\\"brands\\\": [\\\"Одобренные бренды\\\"],\\n    \\\"price_range\\\": \\\"Диапазон в RUB\\\",\\n    \\\"regulations\\\": [\\\"GOST/СНиП если применимо\\\"]\\n  }\\n",
        "options": {
          "systemMessage": "Ты — эксперт по структурированию контента для российского рынка умных домов. Твоя задача — создавать идеальные структуры статей с учетом SEO, локального контекста и планирования изображений."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        272
      ],
      "id": "0fa1999d-a470-4761-a756-b3b730a94e46",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1104,
        496
      ],
      "id": "a1819893-d72b-4365-8dce-c1d6dffe848d",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "p8JoqchBdz3tf9tO",
          "name": "DeepSeek account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Напиши полную статью на русском языке, строго придерживаясь следующего технического задания. Текст поделен на блоки согласно раздела section в структуре статьи. Сохранение структуры и названия блоков обязательно.\n\n**ОСНОВНЫЕ ДАННЫЕ:**\n- **Тема статьи:** {{ $json.topic }}\n- **Мета-описание:** {{ $json.structure.meta_description }}\n- **Цель статьи:** {{ $('Get Todays Articles').item.json.PurposeArticle }}. Сфокусируйся на решении \"боли\" аудитории.\n\n**СТРУКТУРА:**\nЧетко следуй этой структуре разделов и подразделов:\n{{ JSON.stringify($json.structure.structure, null, 2) }}\n\n**ПЛАН ИЗОБРАЖЕНИЙ (ОБЯЗАТЕЛЬНО К ВНЕДРЕНИЮ):**\n{{ JSON.stringify($json.images_plan, null, 2) }}\n- Вставь в текст маркеры [IMAGE_1], [IMAGE_2], [IMAGE_3] именно в тех местах, где они логически соответствуют описанию из `position` и `usage`.\n- Размещение должно быть естественным, например, после вводного абзаца к разделу или в месте, где изображение служит наглядной иллюстрацией.\n\n**КОНКРЕТНЫЕ ТРЕБОВАНИЯ:**\n\n1.  **ТОВАРНЫЕ ССЫЛКИ И ЦЕНЫ:**\n    - При первом упоминании каждого бренда или типа устройства добавляй 3-5 конкретных товарных ссылок в формате Markdown: `[Название товара (бренд)](https://market.yandex.ru/product/...) - от X XXX ₽`.\n    - Указывай актуальные примерные цены в рублях.\n    - После статьи добавь блок в формате JSON со всеми упомянутыми товарами:\n    ```json\n    {\n      \"products\": [\n        {\n          \"name\": \"Полное название товара\",\n          \"brand\": \"Xiaomi\",\n          \"price\": \"1500\",\n          \"currency\": \"RUB\",\n          \"url\": \"https://market.yandex.ru/product/...\",\n          \"marketplace\": \"yandex_market\",\n          \"image_url\": \"https://...jpg\",\n          \"description\": \"Краткое описание функций\"\n        }\n      ]\n    }\n    ```\n\n2.  **РОССИЙСКИЙ КОНТЕКСТ (ОБЯЗАТЕЛЬНО):**\n    - **Бренды:** Используй только {{ $json.structure.russian_context.brands.join(', ') }} и другие актуальные для РФ (например, Rubetek). Запрещено упоминать Google Home, Amazon Alexa.\n    - **Магазины:** Ссылки веди на Яндекс.Маркет, Ozon, Wildberries.\n    - **Цены:** Только в рублях (₽). Указывай диапазон \"от 1 500 ₽\" и общий диапазон системы: {{ $json.structure.russian_context.price_range }}.\n    - **Примеры:** Используй реалии (\"квартира в Москве\", \"дача в Подмосковье\").\n\n3.  **ТЕХНИЧЕСКИЕ ДЕТАЛИ (РАСКРЫТЬ ГЛУБИНУ):**\n4.  **СТИЛЬ И SEO:**\n    - Естественный, экспертный тон на родном русском языке. Избегай штампов .\n    - Используй активный залог и личный опыт (\"Я тестировал...\", \"На практике...\").\n    - Внедри внутренние ссылки в тексте: {{ $json.structure.internal_links.map(link => `[${link}](/url)`).join(', ') }}.\n    - Объем статьи: ~5000 знаков без учета пробелов.\n\n**ФОРМАТ ВЫВОДА:**\nПолноценная статья в формате Markdown с заголовками (уровни ##, ###), списками, жирным выделением, таблицами для сравнения (где уместно), товарными ссылками в тексте, маркерами изображений [IMAGE_N] и завершающим JSON-блоком `products`.",
        "options": {
          "systemMessage": "Ты — профессиональный копирайтер для российского рынка умных домов с 20+ летним опытом. Иностранный опыт в данных статьях так же может рассматриваться, но только если продукты доступны на российском рынке, это опенсорсное ПО или китайские системы и комплектующие. Ты пишешь экспертные статьи с товарными ссылками и маркерами для изображений.Тон статьи профессиональный, но теплый. \nИсключи признаки написания контента ИИ, такие как:\nСтруктурированность - текст имеет четкую, почти шаблонную структуру с последовательными разделами, подразделами и списками\nОбобщенные формулировки - много клишированных выражений типа \"открывают двери в мир новых возможностей\", \"становятся вашими союзниками\", \"критически важной\"\nОтсутствие уникального стиля - текст лишен индивидуальности, читается как типичный SEO-оптимизированный контент\nПовторяющиеся паттерны - однотипное описание каждого сервиса перевода с одинаковыми структурными элементами\nИскусственные цитаты - цитаты \"экспертов\" выглядят сгенерированными, без реальных ссылок на источники\nПоверхностный анализ - информация достаточно общая, без глубоких инсайтов или уникальных наблюдений\n\nчаще использовать :\nАктуальность информации\nПрактические советы в заключительной части\nразбить текст на более естественные разделы, добавить личный опыт и живые примеры.\nЦитаты экспертов должны быть реальные  желательно ссылкой на текст.\nДобавить \"души\" — большего количества реальных жизненных сценариев, эмоций, проблем, которые решает умный дом (\"не надо идти выключать свет в прихожей\", \"не переживаешь, что забыл выключить утюг\").\nОпиши решение \"боли\" аудитории. Больше хорошо разобранных кейсов и примеров.ful assistant",
          "batching": {
            "batchSize": 5
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1968,
        256
      ],
      "id": "e45ff6ba-f57b-41ac-a819-59ea27eef028",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1904,
        464
      ],
      "id": "386086b9-1973-4c57-9c78-945329b63356",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "p8JoqchBdz3tf9tO",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "3447f42d125587b09ddb81a530c200a6",
            "recordId": "3447f42d125587b09ddb81a530c200a6"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "```json\n{\n  \"title\": \"Умные диммеры для дома: полное руководство по выбору и настройке\",\n  \"meta_description\": \"Как выбрать умный диммер в России 2024: обзор Xiaomi, Aqara, Яндекс, Sber. Совместимость с лампами, настройка плавного включения, цены от 1500₽. Экспертный гид.\",\n  \"structure\": [\n    {\n      \"section\": \"Что такое умный диммер и зачем он нужен в российском умном доме\",\n      \"subsections\": [\n        \"От обычного выключателя к интеллектуальному управлению\",\n        \"Преимущества умных диммеров для российских квартир\"\n      ],\n      \"key_points\": [\n        \"Определение умного диммера и его отличие от обычного\",\n        \"Основные функции: регулировка яркости, сценарии, голосовое управление\",\n        \"Энергосбережение и продление срока службы ламп\",\n        \"Создание комфортной атмосферы в российских условиях (короткий световой день зимой)\"\n      ],\n      \"word_count\": 450\n    },\n    {\n      \"section\": \"Как работают умные диммеры: технологии и принципы\",\n      \"subsections\": [\n        \"Типы диммирования: симисторные, транзисторные, цифровые\",\n        \"Протоколы связи: Wi-Fi, Zigbee, Bluetooth, Matter\",\n        \"Принцип работы с разными типами нагрузок\"\n      ],\n      \"key_points\": [\n        \"Фазовое регулирование для ламп накаливания и галогенных\",\n        \"ШИМ-регулирование для светодиодных ламп\",\n        \"Важность совместимости протоколов для российских экосистем\",\n        \"Локальное управление vs облачные решения\"\n      ],\n      \"word_count\": 500\n    },\n    {\n      \"section\": \"Обзор российского рынка: лучшие бренды и модели 2024\",\n      \"subsections\": [\n        \"Xiaomi и Aqara: флагманы умного дома\",\n        \"Яндекс: интеграция с Алисой и Станцией\",\n        \"Sber: отечественная экосистема\",\n        \"Сравнительная таблица моделей и цен\"\n      ],\n      \"key_points\": [\n        \"Aqara Smart Dimmer H2 KD-R01D: 3,500-5,500₽ (Zigbee)\",\n        \"Xiaomi Mi Smart Dimmer: 2,500-4,000₽ (Wi-Fi)\",\n        \"Яндекс Умный диммер: 4,000-6,000₽ (интеграция с Алисой)\",\n        \"Sber умные выключатели: 3,000-5,000₽\",\n        \"Где купить: Яндекс.Маркет, Ozon, Wildberries\"\n      ],\n      \"word_count\": 600\n    },\n    {\n      \"section\": \"Совместимость с лампами: что нужно знать перед покупкой\",\n      \"subsections\": [\n        \"LED лампы: диммируемые vs недиммируемые\",\n        \"Лампы накаливания и галогенные: классика\",\n        \"Люминесцентные и энергосберегающие лампы\",\n        \"Как проверить совместимость: практические советы\"\n      ],\n      \"key_points\": [\n        \"Маркировка \\\"dimmable\\\" на LED лампах\",\n        \"Минимальная нагрузка для диммеров (3-10Вт для LED)\",\n        \"Проблемы с мерцанием и как их избежать\",\n        \"Совместимость с трансформаторами для низковольтных галогенных ламп\",\n        \"Рекомендации по выбору ламп для российских сетей (220В)\"\n      ],\n      \"word_count\": 550\n    },\n    {\n      \"section\": \"Установка и подключение: пошаговая инструкция\",\n      \"subsections\": [\n        \"Подготовка: инструменты и безопасность\",\n        \"Замена обычного выключателя на умный диммер\",\n        \"Подключение беспроводных диммеров\",\n        \"Настройка в приложениях (Mi Home, Aqara Home, Яндекс)\"\n      ],\n      \"key_points\": [\n        \"Отключение электричества - обязательный шаг\",\n        \"Схемы подключения для одноклавишных и двухклавишных выключателей\",\n        \"Особенности подключения в российских панельных домах\",\n        \"Настройка через приложение: создание комнат, зон, сценариев\"\n      ],\n      \"word_count\": 500\n    },\n    {\n      \"section\": \"Плавное включение и выключение: настройка идеального света\",\n      \"subsections\": [\n        \"Что такое плавное диммирование и зачем оно нужно\",\n        \"Настройка сценариев \\\"рассвет\\\" и \\\"закат\\\"\",\n        \"Автоматизация по времени и датчикам\",\n        \"Голосовое управление через Яндекс Алису\"\n      ],\n      \"key_points\": [\n        \"Настройка времени плавного изменения яркости (5-60 секунд)\",\n        \"Создание утренних сценариев для комфортного пробуждения\",\n        \"Интеграция с датчиками движения для автоматического включения\",\n        \"Голосовые команды: \\\"Алиса, включи свет на 30%\\\", \\\"Сделай свет теплее\\\"\",\n        \"Примеры сценариев для российских условий (зимнее утро, летний вечер)\"\n      ],\n      \"word_count\": 550\n    },\n    {\n      \"section\": \"Продвинутые возможности и интеграции\",\n      \"subsections\": [\n        \"Создание сложных сценариев и автоматизаций\",\n        \"Интеграция с другими устройствами умного дома\",\n        \"Управление через Яндекс Станцию и Sber Salut\",\n        \"Внешние системы: IFTTT и Home Assistant\"\n      ],\n      \"key_points\": [\n        \"Сценарии \\\"кино\\\", \\\"романтический ужин\\\", \\\"рабочий режим\\\"\",\n        \"Синхронизация с умными розетками, шторами, климатом\",\n        \"Геозоны: автоматическое включение при приближении домой\",\n        \"Интеграция с российскими сервисами (Яндекс.Погода для адаптивного освещения)\"\n      ],\n      \"word_count\": 450\n    }\n  ],\n  \"images_plan\": [\n    {\n      \"position\": \"header\",\n      \"description_ru\": \"Современная российская гостиная с умным освещением и диммером на стене\",\n      \"dalle_prompt\": \"Modern Russian living room interior with smart lighting, dimmer switch on wall, cozy atmosphere, evening lighting, professional interior photography, realistic, high quality, 8k resolution, warm lighting\",\n      \"alt_text\": \"Умное освещение в современной российской гостиной с диммером на стене\",\n      \"usage\": \"Главное изображение статьи, создающее атмосферу умного дома\"\n    },\n    {\n      \"position\": \"section_3\",\n      \"description_ru\": \"Сравнение популярных умных диммеров российского рынка: Xiaomi, Aqara, Яндекс, Sber\",\n      \"dalle_prompt\": \"Product photography comparison of smart dimmers from Xiaomi, Aqara, Yandex, Sber on white background, professional studio lighting, detailed close-up, high resolution, clean composition\",\n      \"alt_text\": \"Сравнение умных диммеров Xiaomi, Aqara, Яндекс и Sber для российского рынка\",\n      \"usage\": \"В разделе обзора брендов для наглядного сравнения моделей\"\n    },\n    {\n      \"position\": \"section_5\",\n      \"description_ru\": \"Пошаговая установка умного диммера в стандартную российскую монтажную коробку\",\n      \"dalle_prompt\": \"Step-by-step installation of smart dimmer in Russian electrical box, hands with tools, clear wiring diagram, educational infographic style, professional photography, realistic\",\n      \"alt_text\": \"Установка умного диммера в российскую монтажную коробку - пошаговая инструкция\",\n      \"usage\": \"В разделе про установку для наглядной демонстрации процесса\"\n    }\n  ],\n  \"faq\": [\n    {\n      \"question\": \"Сколько стоит умный диммер в России в 2024 году?\",\n      \"answer_brief\": \"Цены от 1,500₽ за простые модели до 8,000₽ за продвинутые. Xiaomi от 2,500₽, Aqara 3,500-5,500₽, Яндекс 4,000-6,000₽, Sber 3,000-5,000₽.\"\n    },\n    {\n      \"question\": \"Будет ли работать умный диммер со старыми лампами накаливания?\",\n      \"answer_brief\": \"Да, большинство умных диммеров отлично работают с лампами накаливания. Это самый простой тип нагрузки для диммирования.\"\n    },\n    {\n      \"question\": \"Нужен ли хаб для умного диммера?\",\n      \"answer_brief\": \"Зависит от протокола: Wi-Fi диммеры работают без хаба, Zigbee-моделям нужен хаб (Aqara Hub, Яндекс Станция с Zigbee).\"\n    },\n    {\n      \"question\": \"Можно ли установить умный диммер вместо двухклавишного выключателя?\",\n      \"answer_brief\": \"Да, существуют двухканальные диммеры. Также можно использовать два одноканальных или специальные модульные решения.\"\n    },\n    {\n      \"question\": \"Что делать, если свет мерцает при диммировании?\",\n      \"answer_brief\": \"Проверьте совместимость лампы (должна быть dimmable), минимальную нагрузку диммера, возможно нужна нагрузочная заглушка.\"\n    },\n    {\n      \"question\": \"Работают ли умные диммеры при отключении интернета?\",\n      \"answer_brief\": \"Локальное управление обычно сохраняется. Zigbee-устройства работают без интернета, Wi-Fi модели могут иметь ограниченный функционал.\"\n    },\n    {\n      \"question\": \"Какой бренд лучше выбрать для интеграции с Яндекс Алисой?\",\n      \"answer_brief\": \"Нативные устройства Яндекс или совместимые через Mi Home/Aqara Home. Яндекс Станция с Zigbee поддерживает многие Zigbee-диммеры.\"\n    }\n  ],\n  \"internal_links\": [\n    \"Умные лампочки: полный гид по выбору для российского дома\",\n    \"Яндекс Станция как центр умного дома: настройка и возможности\",\n    \"Автоматизация освещения по датчикам движения: экономия и комфорт\",\n    \"Умные розетки: управление бытовой техникой через смартфон\",\n    \"Безопасность умного дома: защита от взлома и сбоев\"\n  ],\n  \"external_sources\": [\n    \"Официальные сайты производителей (Aqara.ru, Xiaomi.com/ru)\",\n    \"Российские стандарты ГОСТ Р 51317.3.2-99 по электромагнитной совместимости\",\n    \"Форумы и сообщества (4pda.to, iXBT.com) с отзывами пользователей\"\n  ],\n  \"russian_context\": {\n    \"brands\": [\"Xiaomi\", \"Aqara\", \"Яндекс\", \"Sber\", \"Redmond\", \"Rubetek\"],\n    \"price_range\": \"1,500-8,000 RUB в зависимости от модели и функционала\",\n    \"regulations\": [\n      \"ГОСТ Р 51317.3.2-99 (электромагнитная совместимость)\",\n      \"ПУЭ 7.1.47-7.1.53 (правила устройства электроустановок)\",\n      \"СНиП 23-05-95 (естественное и искусственное освещение)\"\n    ]\n  }\n}\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-11-10T09:17:02.144Z",
      "createdAt": "2025-11-10T09:17:02.144Z",
      "role": "workflow:owner",
      "workflowId": "7jWnZ0YXvJYEbmkV",
      "projectId": "eC6TPZsgtkJhsiwj"
    }
  ],
  "staticData": {
    "node:Schedule Trigger (8:00 AM MSK)": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-02T20:56:03.932Z",
  "versionId": "121926ab-2e3a-46d6-a429-64b29c9f7d8e"
}